h1 {
  font-size: 48px;
  color: blue;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

h2 {
  font-size: 30px;
  color: blue;
  border-style: dotted;
  border-width: 2px;
  border-color: green;
}

p {
  font-size: 18px;
}
